#post-button {
  margin-top: 49px;
  font-size: 1rem;
  height: 54px;
  width: 533px;
  background: #eec32a;
  -webkit-box-shadow: 0px 3px 0px #000400;
          box-shadow: 0px 3px 0px #000400;
  text-decoration: none;
  color: #000400;
}

.search-area {
  margin-top: 16px;
}

.search-area__filter {
  position: relative;
  margin-right: 12px;
}

.search-area__filter #search {
  padding: 0 1rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 1rem;
  width: 156px;
  height: 46px;
  opacity: 1;
  border: 2px solid #000400;
}

.search-area__filter > img {
  pointer-events: none;
  position: absolute;
  right: 1rem;
  height: 100%;
}

.search-area__search {
  width: 365px;
  height: 42px;
  border: 2px solid #000400;
}

.search-area__search input {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: #9b9893;
  outline: none;
  border-style: none;
  padding: 0 1rem;
}

.search-area__search button {
  width: 46px;
  height: 46px;
  background: #03438d;
  color: white;
  border: 2px solid #000400;
  border-right: none;
}

.search-area__search button > img {
  color: white;
}

.post .item {
  width: 485px;
  color: #000400;
  padding: 24px;
  -webkit-box-shadow: 0px 3px 0px #000400;
          box-shadow: 0px 3px 0px #000400;
}

.post .item__header-avatar {
  border: 2px solid #000400;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  overflow: hidden;
}

.post .item__header-avatar img {
  width: 100%;
  height: auto;
}

.post .item__header-dec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post .item__header-dec .created-time {
  font-size: 12px;
  color: #9b9893;
}

.post .item__content {
  line-height: 24px;
}

#post-item {
  position: relative;
  margin-top: 49px;
  font-size: 1rem;
  height: 54px;
  width: 533px;
  text-decoration: none;
  background: white;
  color: #000400;
  border: 2px solid #000400;
}

#post-item::after {
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  border: 2px solid #000400;
  content: '';
  top: 2px;
  right: 2px;
  z-index: -1;
}

.post-form input {
  height: 30px;
  padding: 0 16px;
  margin-bottom: 16px;
  font-size: 1rem;
}

.post-form textarea {
  margin-top: 8px;
  font-size: 1rem;
}

#submit-button {
  background: #a8b0b9;
  margin-top: 32px;
  width: 323px;
  height: 54px;
  font-size: 1rem;
}

#submit-button:hover {
  -webkit-filter: hue-rotate(90deg);
          filter: hue-rotate(90deg);
}

.nodata-item {
  width: 533px;
  color: #9b9893;
  -webkit-box-shadow: 0px 3px 0px #000400;
          box-shadow: 0px 3px 0px #000400;
}

.nodata-item .bar .circle {
  position: relative;
  width: 9px;
  height: 9px;
  background: #de4b63;
  border-radius: 50%;
  border: 1px solid #000400;
  display: inline-block;
}

.nodata-item .bar .circle::before {
  position: absolute;
  content: '';
  top: -1px;
  left: 15px;
  width: 9px;
  height: 9px;
  background: #faa722;
  border-radius: 50%;
  border: 1px solid #000400;
  display: inline-block;
}

.nodata-item .bar .circle::after {
  position: absolute;
  content: '';
  top: -1px;
  left: 32px;
  width: 9px;
  height: 9px;
  background: #83c51d;
  border-radius: 50%;
  border: 1px solid #000400;
  display: inline-block;
}

.text-center {
  text-align: center;
}

.pa-0 {
  padding: 0;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-click {
  cursor: pointer;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mt-4 {
  margin-top: 1rem;
}

.w-100 {
  width: 100%;
}

.mx-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mr-4 {
  margin-right: 16px;
}

.mt-2 {
  margin-top: 8px;
}

.mb-4 {
  margin-bottom: 16px;
}

.border-rounded {
  border: 2px solid #000400;
  border-radius: 8px;
}

.text-bold {
  font-weight: bold;
}

.d-block {
  display: block;
}

.pa-4 {
  padding: 16px;
}

.px-4 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-5 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-8 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.border-t-1 {
  border-bottom: 2px solid #000400;
}
/*# sourceMappingURL=index.css.map */